.home {
	padding-top: 3em;

	#footer {
		padding: 1em;
	}
	#content {
		padding-bottom: 1em;
	}
}

.company #content {
	p {
		margin-left: 1em;
	}

	ol > li {
		font-size: 1.5em;
		p {
			margin: 0;
		}

		ul {
			margin-bottom: 0.5em;
			li {
				font-size: 1em / 1.5em * 1em;
			}
		}
	}
}