<!doctype html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body>
	<div id="tang" class="{{ page.title | downcase }}">
		<div id="header">
			<a href="{{ site.url }}/" title="{{ site.tagline }}">
				<h1 class="company-name">{{ site.title }}</h1>
			</a>
		</div>

		<div id="navigation">
			{% include navigation.html %}
		</div>

		<div id="content">
			{{ content }}
		</div>

		<div id="footer">
			<p class="copywrite-notice">&copy; 2013 CQ Research Group</p>
		</div>
	</div>
</body>
</html>